<ion-header>
</ion-header>
<ion-content>
  <form [formGroup]="form" (ngSubmit)="guardar()" novalidate>
    <div class="imgcontainer">
      <img src="/assets/logo_travel.png" alt="logo_travel" class="avatar">
    </div>
    <div class="container">
      <ion-item>
        <ion-label position="floating">Apodo</ion-label>
        <ion-input formControlName="apodo" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input formControlName="contrasenia" type="password"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col size="6">
          <ion-button type="submit" color="primary" expand="full" disabled={{!this.form.valid}}>Iniciar sesion</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button color="danger" expand="full" (click)="limpiar()">Cancelar</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </form>
</ion-content>
